.item
  width: 42.5%
  float: left
  margin: 3%
  &__photo
    img
      width: 150px
      height: 150px
      border: 1px solid #ccc
      border-radius: 10px
  &__name
    color: #000
    margin: 3% 0
