.outer
  height: 25%
.header-search
  height: 200px
  background: #ccc
  color: #ccc
  font-family: monospace
  .search
    height: 60px
    line-height: 60px
    width: 85%
    background: #fff
    border-radius: 5px
    overflow: hidden
    &__icon
      @include fa-icon("search")
      transform: scale(1.5)
      padding: 0 5%
    &__input
      border: none
      outline: none
      width: 80%
      height: 40px
